<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Guardar Texto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Texto a Guardar</ion-label>
    <ion-textarea [(ngModel)]="textContent" placeholder="Escribe algo..."></ion-textarea>
  </ion-item>

  <ion-button expand="block" (click)="saveToFile()">Guardar en Archivo</ion-button>

  <ion-toast
    *ngIf="showToast"
    [message]="toastMessage"
    duration="2000"
    color="success">
  </ion-toast>
</ion-content>
