<ion-header>
  <ion-toolbar>
    <ion-title>Calcular Días</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Fecha Inicial</ion-label>
    <ion-datetime
      display-format="DD/MM/YYYY"
      [(ngModel)]="inicio"
      placeholder="Selecciona la fecha inicial">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Fecha Final</ion-label>
    <ion-datetime
      display-format="DD/MM/YYYY"
      [(ngModel)]="fin"
      placeholder="Selecciona la fecha final">
    </ion-datetime>
  </ion-item>

  <ion-button expand="full" (click)="calcular()">Calcular Días</ion-button>

  <div *ngIf="diferencia !== null">
    <p>Días de diferencia: {{ diferencia }}</p>
  </div>
</ion-content>

